<!DOCTYPE html>
<html>
<head>
  <title>HackingAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= "Logged in as: #{current_user.username}" if current_user %> <%= button_to "Sign Out", session_url, method: :delete if current_user %>

  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  <% end %>

<%= yield %>

<% unless signed_in? %>
  <br>
  <p><b>You can play around with the auth tree without logging in.</b></p>
  <ul>
    <li>
    <p>Run the following script on your machine:</p>
      <li><i>TODO: Write this script!</i></li>
    </li>

    <li>
    <p>Then <%= link_to "click here.", attempt_url(1), method: :get %></p>
    </li>
  </ul>
<% end %>

</body>
</html>
